body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', ;
    font-family: 'Roboto Slab', serif;
}

.flex{
    display: flex;
    width: 60%;
    margin-top: 3em;
    flex-direction: column;
}

.flex-row{
    display: flex;
    margin-top: 3em;
    flex-direction: row;
    align-items: baseline;
}

.half{
    flex:1;
    margin-right: 40px;
}

h1{
   color: #616161;
   font-size: 38px;
   font-weight: 500;
}